<div class='page-container'>
  <h1>Employees</h1>

  <%= link_to 'New Employee', new_employee_path, class: 'btn btn-default pull-right' %>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Born date</th>
        <th>Gender</th>
        <th>Client</th>
        <th colspan='2'></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.first_name %></td>
          <td><%= employee.last_name %></td>
          <td><%= employee.email %></td>
          <td><%= employee.born_date %></td>
          <td><%= employee.gender %></td>
          <td><%= client_name(employee.client) %></td>
          <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
          <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
